[Unit]
Description=Router administration service

[Service]
Type=simple
Environment="RAS_DEBUG=true"
ExecStart=/opt/ras/ras
Restart=always
PIDFile=/opt/ras/pid

[Install]
WantedBy=default.target
RequiredBy=network.target
